.home {
  position: relative;
  .nav-head {
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    position: fixed;
    i {
      display: inline-block;
      width: 78px;
      height: 20px;
      background-size: 78px 20px;
      @include bg-image('images/tuzi_word');
      margin: 15px auto;
    }
    a {
      display: inline-block;
      width: 21px;
      height: 21px;
      background-size: 21px 21px;
      @include bg-image('images/search');
      margin: 15px;
      position: absolute;
      right: 10px;
    }
  }
  .swiper-container {
    margin-top: 50px;
    position: relative;
    .swiper-wrapper {
      .swiper-slide {
        display: inline-block;
        a {
          display: inline-block;
          width: 100%;
          height: auto;
          img {
            display: inline-block;
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .swiper-pagination {
      opacity: 1;
      display: block;
      width: 300px;
      height: 20px;
      position: absolute;
      bottom: 5px;
      left: 50%;
      margin-left: -150px;
      text-align: center;
      .swiper-pagination-bullet {
        width: 30px;
        height: 5px;
        display: inline-block;
        background: #E8ECF1;
        opacity: .4;
        border-radius: 3px;
        &.swiper-pagination-bullet-active {
          opacity: 1;
          background: #fff;
        }
      }
    }
  }
}
