.home {
  position: relative;
  background-color: #ededed;
  margin-bottom: 69px;
  .swiper-container {
    position: relative;
    .swiper-wrapper {
      .swiper-slide {
        display: inline-block;
        a {
          display: inline-block;
          width: 100%;
          height: auto;
          img {
            display: inline-block;
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .swiper-pagination {
      opacity: 1;
      display: block;
      width: 300px;
      height: 20px;
      position: absolute;
      bottom: 5px;
      left: 50%;
      margin-left: -150px;
      text-align: center;
      .swiper-pagination-bullet {
        width: 30px;
        height: 5px;
        display: inline-block;
        background: #E8ECF1;
        opacity: .4;
        border-radius: 3px;
        &.swiper-pagination-bullet-active {
          opacity: 1;
          background: #fff;
        }
      }
    }
  }
  .zhubo {
    height: 90px;
    display: flex;
    background-color: white;
    & > a {
      flex: 1;
      display: inline-block;
      text-align: center;
      img {
        width: 60px;
        height: 60px;
        margin: 5px auto;
        border-radius: 30px;
      }
      span {
        display: block;
        font-size: 12px;
      }
    }
  }
  .youhuiquan {
    height: 90px;
    background-color: white;
    margin: 10px 0;
    border: solid 1px white;
    a {
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      img {
        width: 92%;
        height: 82px;
        margin: 4px auto;
      }
    }
  }
  & > ul {
    margin-top: 10px;
    background-color: white;
    li {
      margin-bottom: 10px;
    }
  }
}
